@charset "UTF-8";
/* This is the CSS file for Swarthmore's campus-wide accessibility training.  The purpose of this CSS is to improve accessibility of the interface e.g. increase caption size, add underlines to links.  
Feel free to point to this file.  */
